---
import PageLayout from "../layouts/PageLayout.astro";
import { client } from "../lib/contentful";
import DynamicComponent from "../components/DynamicComponent.astro";

const { slug } = Astro.params;
let pageEntry;

export function getStaticPaths() {
  return [
    {params: {slug: 'platform'}},
    {params: {slug: 'platform-live-preview-test'}},
  ];
}

try {
  pageEntry = await client.getSinglePage(slug);
 } catch (error) {
  return Astro.redirect("/404");
}
---

<PageLayout>
  <section transition:animate="slide">
    <script define:vars={{ pageEntry }}>
        console.log(pageEntry);
        window.contentfulEntry = pageEntry;
    </script>
    <div>
        {pageEntry?.contentCollection && pageEntry.contentCollection.items.map((item: { __typename: unknown; sys: { id: string; }; }) => {
            return <DynamicComponent componentName={item.__typename} entryID={item.sys?.id} data={item} />
        })}
    </div>
  </section>
</PageLayout>
