---
import PageLayout from "../layouts/PageLayout.astro";
import { client } from "../lib/contentful";
import DynamicComponent from "../components/DynamicComponent.astro";

let pageEntry;

try {
  pageEntry = await client.getSinglePage('/');
 } catch (error) {
  return Astro.redirect("/404");
}
---

<PageLayout>
  <section transition:animate="slide">
    <script define:vars={{ pageEntry }}>
        window.contentfulEntry = pageEntry;
    </script>
    <div>
        {pageEntry?.contentCollection && pageEntry.contentCollection.items.map((item: { __typename: unknown; }) => {
            return <DynamicComponent componentName={item.__typename} data={item} />
        })}
    </div>
  </section>
</PageLayout>
