---

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  position?: string;
}

const {
  links = [],
} = Astro.props;
---
<nav
  class="items-center w-full md:w-auto hidden md:flex md:mx-5 text-default overflow-y-auto overflow-x-hidden md:overflow-y-visible md:overflow-x-auto md:justify-self-center"
  aria-label="Main navigation"
>
  here's a nav
</nav>